<!--
Author      : Yamini Sudha
Created on  : 17-March-2014
Modified on : 2-June-2014
Page Title  : Superuser License Dashboard
Description : Displays user and company license in a datatable
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        margin-bottom: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>

<div style="height:100%">
    <div class="subheader">
        <div class="place-left"><h3>License</h3></div>
        <div class="place-right" style=" padding-top: 15px;">
            <button type="button" id="btncreatenew" onclick="openCreateLicenseDialog()" class="primary">Create New</button>
        </div>
    </div>
    <div id="subcontent" style="overflow: auto; height: calc(100% - 80px); height: -moz-calc(100% - 80px);height: -webkit-calc(100% - 80px);height: -o-calc(100% - 80px);">
        <div class="tab-control" style="height:100%;">

            <ul class="tabs">
                <li class="active"><a href="#page_1">User License</a></li>
                <li><a href="#page_2">Company License</a></li>
            </ul>

            <div class="frames">
                <div class="frame" id="page_1">abc</div>
                <div class="frame" id="page_2">def</div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.tab-control').tabcontrol().bind("tabcontrolchange", function(event, frame){
        var id = $(frame).attr("id");
        //$(frame).html("Show in time " + (new Date()).getTime() + " frame id:"+id);
        console.log(id);
        
        if (id === "page_1")
            $('#page_1').load('Super%20User/License/su_user_license.html');
        else
            $('#page_2').load('Super%20User/License/su_company_license.html');
            
    });
    $('#page_1').load('Super%20User/License/su_user_license.html');
    $('#page_2').load('Super%20User/License/su_company_license.html');
</script>