<!--
Author      : Yamini Sudha
Created on  : 18-March-2014
Modified on : 9-May-2014
Page Title  : User License
Description : Displays user license details in a datatable
Page Status : Halfway - Backend (to be checked)
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
    .td-fixedwidth
    {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<!-- Include this for the Dropdown menus to work-->
<script src="metro-bootstrap/js/load-metro.js"></script>

<div style="height:100%; overflow: auto;">
<div class="subheader">
    <div class="place-left"><h3>User License</h3></div>
</div>

<div class="example" style="margin:3%;">
    <table id="userlist" class="table hovered dataTable">
        <thead>
            <tr>
                <th class="text-left">S.No</th>
                <th class="text-left">User Email</th>
                <th class="text-left">Bought On</th>
                <th class="text-left">Expires On</th>
                <td></td>
            </tr>
        </thead>
    </table>
</div>
</div>

<script>
    socket.emit("getuserlicense",{});
    function userlicensecallback(data)
    {
        var details=data.msg.user_license;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {

            count++;

            var boughton=new Date(details[i].createdon).format('dd-mm-yyyy');
            var expireson=new Date(details[i].expirydate).format('dd-mm-yyyy');
            var useremail = details[i].useremail;
            //if (details[i].expirydate === "0000-00-00 00:00:00")
            //expireson = "";

            if (details[i].useremail === "")
                useremail = "N/A";

            row=$("<tr><td>"+count+"</td>\n\
            \n\
            <td class='td-email'>"+useremail+"</td>\n\
            \n\
            <td>"+boughton+"</td>\n\
            \n\
            <td>"+expireson+"</td>\n\
            \n\
            <td>\n\
                <div class='button-dropdown'>\n\
                    <button class='dropdown-toggle default'><span class='icon-plus'></span></button>\n\
                    <ul class='dropdown-menu' data-role='dropdown'>\n\
                        <li><a href='#'>Edit</a></li>\n\
                        <li><a href='#' onclick='deleteUserLicense(\""+details[i].id+"\");'>Delete</a></li>\n\
                    </ul>\n\
                </div>\n\
                </td></tr>");
            $("#userlist").append(row);

          }

        $("#userlist").dataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true
        });
     }
</script>