<!--
Author      : Yamini Sudha
Created on  : 18-March-2014
Page Title  : User Company Mapping
Desc        : Maps a user to a company, removes user from a company, Displays users mapped to a company
Error       : Confirm remove modal - No and close button not working when clicked 2nd time
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>
<div style="height:100%;overflow: auto">
<div class="subheader">
    <div class="place-left"><h3>User - Company Mapping</h3></div>
</div>
<div style="padding-top: 2%; padding-left: 3%;height: calc(100% - 80px); height: -moz-calc(100% - 80px);height: -webkit-calc(100% - 80px);height: -o-calc(100% - 80px);">
    
    <div class="span12">

        <label class="span3" style="font-weight: bold">Select Company:</label>

        <div class="span3">
            <div class="input-control select">
              <select id="cmbcompany" name="cmbcompany" onchange="displayUserList();">
                  <option value="">Select</option>
              </select>
          </div>
        </div>
        <div class="span3" style="float:right;">
            <button class="primary" onclick="mapUserToCompany();">Map User to Company</button>
        </div>
    </div>


    <div id="userlist" style="display:none;">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">S.No</th>
                    <th class="text-left">E-mail</th>
                    <th class="text-left">Date Added</th>
                    <td></td>
                </tr>
            </thead>
        </table>
        <div class="span12">
            <div class="span3" style="float: right;">
                <button class="primary" onclick="confirmRemove();">Remove From Company</button>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    
    
    $(document).ready(function() {   
        makeModalConfirm("confirmRemove", "Confirm Remove", "Are you sure you want to remove the selected user(s) from the company ?", "removeUser()");

        
        
        var companiesAndUsersAssociated;


        socket.emit("getusermappeddetails",{});
        
    });
    
    function usermappeddetailscallback(data) 
    {

        if(data.status === "success")
        {
        //    createCookie('accdrive_unusedUserLicense',message.unuseduserlicense.length,'');
            //window.unusedUserLicense = message.unuseduserlicense.length;
        //    companiesAndUsersAssociated = message.companies;
        }


    }
    
    socket.emit('getassociatedcompanylist', {});

    function associatedcompanylistcallback(data)
    {
        if(data.status === 'success')
        {
            $.each(data.msg.associatedcompanylist, function(index, item) { // Iterates through a collection
                if(item.isadmin === 1)
                {
                    $("#cmbcompany").append($("<option></option>").text(item.name).val(item.companyid));
                }
            });
        }
        else
        {
            makeModalAlert("companylistError", "Operation Failed !!!", data.error +"Something went wrong. Please report this to your vendor");
            $('#companylistError').modal();
        }
    }
    function displayUserList()
    {
        createCookie('accdrive_map_U2C_selectedcompany',$('#cmbcompany').val(),'');
        //window.map_U2C_selectedcompany = $('#cmbcompany').val();
        for(var i=0; i<= companiesAndUsersAssociated.length;i++)
        {
            for(var j=0;j<=companiesAndUsersAssociated[i].length;j++)
            {
                //incomplete
            }
        }
        if($('#cmbcompany').val()!=="")
        {
            $('#userlist').attr('style', 'display:inline !important');
            
        }
        else
        {
            $('#userlist').attr('style', 'display:none !important');
        }
        
    }
    
    function mapUserToCompany()
    {
        if($('#cmbcompany').val()!=="")
        {
            
            if (readCookie('accdrive_unusedUserLicense') >= 1)
            {
                //Show a modal
                $('#modaldiv').load("AdminIndex/create_user.html");
            }
            else if(readCookie('accdrive_unusedUserLicense') === 0)
            {
                console.log('You dont have enough license');
            }
            else
            {
                console.log('Problem getting license details');
            }
            
        }
        else
        {
            //company not selected
            makeModalAlert("companyAlert", "Company Not Selected", "Please Select a company to proceed");
            $('#companyAlert').modal();
        }
    }
    
    function confirmRemove()
    {
        //Confirm Delete
        $('#confirmRemove').modal();
    }
    
    function removeUser()
    {
        var userid = ""; //get userid from selected checkbox
        socket.emit("removeuserfromcompany",{"companyid":readCookie('accdrive_map_U2C_selectedcompany'), "userid":userid});
        socket.on('resp_removeuserfromcompany', function (data) {
            var message= data.msg;
            console.log(message);
            if(data.status === "success")
            {
                console.log("user removed from company successfully");
                createCookie('accdrive_unusedUserLicense',readCookie('accdrive_unusedUserLicense')+1,'');
                //window.unusedUserLicense = window.unusedUserLicense + 1;
            }
            else
            {
                console.log(message);
            }


        });
        $('#confirmRemove').modal('hide');
    }
    
</script>