<!--
Author      : Yamini Sudha
Created on  : 18-April-2014
Page Title  : Stock Category Dashboard
Description :       
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>

<div style="height:100%">
    <div class="subheader">
        <div class="place-left"><h3>Stock Category</h3></div>
        <div class="place-right" style=" padding-top: 15px;">
            <button type="button" id="btncreatenew" onclick="openCreateStockCategoryDialog()" class="primary">Create New</button>
        </div>
    </div>
    <div class="example" style="margin:3%;">
        <table id="stockcategorylist" class="table hovered">
            <thead>
                <tr>
                    <th class="text-left">S.No</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Under</th>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $( document ).ready(function() {
        socket.emit('getall_stockcategories',{"companyid":readCookie('accdrive_selectedcompany')});
    });
    
    function getallstockcategoriescallback(data)
    {
        var details=data.msg;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {

            
            var under = details[i].understockctgname;
            if (under === null)
                under = 'Primary';
            
           
            count++;
            row=$("<tr><td>"+count+"</td>\n\
            \n\
            <td class='td-email'>"+details[i].name+"</td>\n\
            \n\
            <td class='td-email'>"+under+"</td>\n\
            \n\
            <td><input type='image' id='icon-edit' src='././img/edit.png' height='20px' width='20px' style='border:0px;' onclick='editStockCategory(this,"+details[i].stockcategoryid+")' alt='Edit' title='Edit Row'></td>\n\
            \n\
            <td><input type='image' id='icon-delete' src='././img/cross.png' onclick='deleteStockCategory(this,"+details[i].stockcategoryid+")' height='20px' width='20px' style='border:0px;' alt='Delete' title='Delete Row'></td>\n\
            \n\
            </tr>");
            
            $("#stockcategorylist").append(row);

          }

        dtable = $("#stockcategorylist").DataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true,
        });
        
    }
    
    function editStockCategory(thisobj,stk_cat_id)
    {
        window.editMastersID = stk_cat_id;
        window.editRowObject = thisobj;
        openEditStockCategoryDialog();
    }
    function deleteStockCategory(thisobj,stk_cat_id)
    {
        window.deleteRowObject = thisobj;
        makeModalConfirm("deleteStockCategoryConfirm", "Confirm Delete", "Are you sure you want to delete the stock category ?", "deleteStockCategoryConfirm("+stk_cat_id+")");
        $('#deleteStockCategoryConfirm').modal();
    }
    
    function deleteStockCategoryConfirm(stk_cat_id)
    {
        socket.emit("delete_stockcategories",{"stk_catgid":stk_cat_id,"companyid":readCookie('accdrive_selectedcompany')});
        $('#deleteStockCategoryConfirm').modal('hide');
    }
    function deletestockcategorycallback(data)
    {
        if (data.status === 'success')
        {
            gotoStockCategories();
            // Delete row from datatable
            /*
            dtable
                .row( $(window.deleteRowObject).parents('tr') )
                .remove()
                .draw();*/
            makeModalAlert("deleteStockCategorySuccess", "Stock Category Deleted !!!", "Stock Category deleted successfully");
            $('#deleteStockCategorySuccess').modal();
        }
        else
        {
            makeModalAlert("deleteStockCategoryError", "Error Deleting StockCategory !!!", "There was some problem deleting the stock category. Please contact your vendor");
            $('#deleteStockCategoryError').modal();
        }
    }
</script>
    
