html
  
  head

  body
    label(for=email) Email
    input(type="text" id="email" name="email")
    label(for=password) Password
    input(type="password" id="password" name="password")
    input(type="button" id="login" value="login")
