<!--
Author      : Yamini Sudha
Created on  : 4-Aug-2014
Modified on : 
Page Title  : Simple Unit Display
Description : Displays simple unit details in a datatable
Page Status : 
-->
<style>
    .td-email
    {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<!-- Include this for the Dropdown menus to work-->
<script src="metro-bootstrap/js/load-metro.js"></script>

<div style="height:100%; overflow: auto;">
    <div class="example" style="margin:3%;">
        <table id="compoundunitlist" class="table hovered">
            <thead>
                <tr>
                    <th class="text-left">S.No</th>
                    <th class="text-left">First Unit</th>
                    <th class="text-left"></th>
                    <th class="text-left">Conversion</th>
                    <th class="text-left">Second Unit</th>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $( document ).ready(function() {
        socket.emit('getall_compound_unitsofmeasure',{"companyid":readCookie('accdrive_selectedcompany')});
    });
    
    function getallcompoundunitscallback(data)
    {
        var details=data.msg;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {            
            count++;
            row=$("<tr><td>"+count+"</td>\n\
            \n\
            <td class='td-email'>"+details[i].firstunitname+"</td>\n\
            \n\
            <td class='td-email'>of</td>\n\
            \n\
            <td class='td-email'>"+details[i].conversion+"</td>\n\
            \n\
            <td class='td-email'>"+details[i].secondunitname+"</td>\n\
            \n\
            <td><input type='image' id='icon-edit' src='././img/edit.png' height='20px' width='20px' style='border:0px;' onclick='editCompoundUnit(this,"+details[i].id+")' alt='Edit' title='Edit Row'></td>\n\
            \n\
            <td><input type='image' id='icon-delete' src='././img/cross.png' onclick='deleteCompoundUnit(this,"+details[i].id+")' height='20px' width='20px' style='border:0px;' alt='Delete' title='Delete Row'></td>\n\
            \n\
            </tr>");


            
            $("#compoundunitlist").append(row);

          }

        dtable_2 = $("#compoundunitlist").DataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true,
        });
        
    }
    
    function editCompoundUnit(thisobj,unitid)
    {
        window.editMastersID = unitid;
        window.editRowObject = thisobj;
        openEditCompoundUnitDialog();
    }
    
    
    function deleteCompoundUnit(thisobj,unitid)
    {
        window.deleteRowObject = thisobj;
        makeModalConfirm("deleteCompoundUnitConfirm", "Confirm Delete", "Are you sure you want to delete the unit ?", "deleteCompoundUnitConfirm("+unitid+")");
        $('#deleteCompoundUnitConfirm').modal();
    }
    
    function deleteCompoundUnitConfirm(unitid)
    {
        socket.emit("delete_compound_unitsofmeasure",{"unitid":unitid,"companyid":readCookie('accdrive_selectedcompany')});
        $('#deleteCompoundUnitConfirm').modal('hide');
    }
    function deletecompoundunitcallback(data)
    {
        if (data.status === 'success')
        {
            // Delete the row in datatable
            dtable_2
                .row( $(window.deleteRowObject).parents('tr') )
                .remove()
                .draw();
            makeModalAlert("deleteCompoundUnitSuccess", "Unit Deleted !!!", "Unit deleted successfully");
            $('#deleteCompoundUnitSuccess').modal();
        }
        else
        {
            makeModalAlert("deleteCompoundUnitError", "Error Deleting Unit !!!", "There was some problem deleting the unit. Please contact your vendor");
            $('#deleteCompoundUnitError').modal();
        }
    }
</script>
    
