<!--
Author      : Yamini Sudha
Created on  : 4-Aug-2014
Modified on : 
Page Title  : Simple Unit Display
Description : Displays simple unit details in a datatable
Page Status : 
-->
<style>
    .td-email
    {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<!-- Include this for the Dropdown menus to work-->
<script src="metro-bootstrap/js/load-metro.js"></script>

<div style="height:100%; overflow: auto;">
    <div class="example" style="margin:3%;">
        <table id="simpleunitlist" class="table hovered">
            <thead>
                <tr>
                    <th class="text-left">S.No</th>
                    <th class="text-left">Symbol</th>
                    <th class="text-left">Formal Name</th>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $( document ).ready(function() {
        //var dtable;
        socket.emit('getall_simple_unitsofmeasure',{"companyid":readCookie('accdrive_selectedcompany')});
    });
    
    function getallsimpleunitscallback(data)
    {
        var details=data.msg;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {            
            count++;
            row=$("<tr><td>"+count+"</td>\n\
            \n\
            <td class='td-email'>"+details[i].symbol+"</td>\n\
            \n\
            <td class='td-email'>"+details[i].formalname+"</td>\n\
            \n\
            <td><input type='image' id='icon-edit' src='././img/edit.png' height='20px' width='20px' style='border:0px;' onclick='editSimpleUnit(this,"+details[i].unitid+")' alt='Edit' title='Edit Row'></td>\n\
            \n\
            <td><input type='image' id='icon-delete' src='././img/cross.png' onclick='deleteSimpleUnit(this,"+details[i].unitid+")' height='20px' width='20px' style='border:0px;' alt='Delete' title='Delete Row'></td>\n\
            \n\
            </tr>");


            
            $("#simpleunitlist").append(row);

          }

        dtable = $("#simpleunitlist").DataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true,
        });
        
    }
    
    function editSimpleUnit(thisobj,unitid)
    {
        window.editMastersID = unitid;
        window.editRowObject = thisobj;
        openEditSimpleUnitDialog();
    }
    
    
    function deleteSimpleUnit(thisobj,unitid)
    {
        window.deleteRowObject = thisobj;
        makeModalConfirm("deleteSimpleUnitConfirm", "Confirm Delete", "Are you sure you want to delete the unit ?", "deleteSimpleUnitConfirm("+unitid+")");
        $('#deleteSimpleUnitConfirm').modal();
    }
    
    function deleteSimpleUnitConfirm(unitid)
    {
        socket.emit("delete_simple_unitsofmeasure",{"unitid":unitid,"companyid":readCookie('accdrive_selectedcompany')});
        $('#deleteSimpleUnitConfirm').modal('hide');
    }
    function deletesimpleunitcallback(data)
    {
        if (data.status === 'success')
        {
            // Delete the row in datatable
            dtable
                .row( $(window.deleteRowObject).parents('tr') )
                .remove()
                .draw();
            makeModalAlert("deleteSimpleUnitSuccess", "Unit Deleted !!!", "Unit deleted successfully");
            $('#deleteSimpleUnitSuccess').modal();
        }
        else
        {
            makeModalAlert("deleteSimpleUnitError", "Error Deleting Unit !!!", "There was some problem deleting the unit. Please contact your vendor");
            $('#deleteSimpleUnitError').modal();
        }
    }
</script>
    
