<!--
Author      : Yamini Sudha
Created on  : 22-April-2014
Page Title  : Units Of Measure Dashboard
Description :       
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>

<div style="height:100%">
    <div class="subheader">
        <div class="place-left"><h3>Units Of Measure</h3></div>
        <div class="place-right" style=" padding-top: 15px;">
            <button type="button" id="btncreatenew" onclick="openCreateUnitDialog()" class="primary">Create New</button>
        </div>
    </div>
    <div id="subcontent" style="overflow: auto; height: calc(100% - 80px); height: -moz-calc(100% - 80px);height: -webkit-calc(100% - 80px);height: -o-calc(100% - 80px);">
        <div class="tab-control" style="height:100%;">

            <ul class="tabs">
                <li class="active"><a href="#simpleDisplay">Simple Units</a></li>
                <li><a href="#compoundDisplay">Compound Units</a></li>
            </ul>

            <div class="frames">
                <div class="frame" id="simpleDisplay">abc</div>
                <div class="frame" id="compoundDisplay">def</div>
            </div>
        </div>
    </div>
</div>


<script>
    
    $('.tab-control').tabcontrol().bind("tabcontrolchange", function(event, frame){
        var id = $(frame).attr("id");
        //$(frame).html("Show in time " + (new Date()).getTime() + " frame id:"+id);
        console.log(id);
        
        if (id === "simpleDisplay")
            $('#simpleDisplay').load('Masters/Units%20of%20Measurement/simple_unit.html');
        else
            $('#compoundDisplay').load('Masters/Units%20of%20Measurement/compound_unit.html');
            
    });
    $('#simpleDisplay').load('Masters/Units%20of%20Measurement/simple_unit.html');
    $('#compoundDisplay').load('Masters/Units%20of%20Measurement/compound_unit.html');
</script>