<!--
Author      : Yamini Sudha
Created on  : 18-April-2014
Page Title  : Stock Groups Dashboard
Description :       
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>

<div style="height:100%">
    <div class="subheader">
        <div class="place-left"><h3>Stock Groups</h3></div>
        <div class="place-right" style=" padding-top: 15px;">
            <button type="button" id="btncreatenew" onclick="openCreateStockGroupDialog()" class="primary">Create New</button>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        //var dtable;
        socket.emit('getall_stockgroups',{"companyid":readCookie('accdrive_selectedcompany')});
    });
    
    function getallstockgroupscallback(data)
    {
		console.log('INSIDE GET ALL STOCK CALLBK FUNC');
        console.log(JSON.stringify(data.msg));
        var details=data.msg;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {
			console.log('INSIDE FOR LOOP');
            
            var under = details[i].understockgrpname;
            if (under === null)
                under = 'Primary';
            //console.log('predefined : '+details[i].predefined);
            /*if(details[i].predefined === 1)
            {
                count++;
                row=$("<tr><td>"+count+"</td>\n\
                \n\
                <td class='td-email'>"+details[i].name+"</td>\n\
                \n\
                <td class='td-email'>"+under+"</td>\n\
                \n\
                <td>-</td>\n\
                \n\
                <td>-</td>\n\
                \n\
                </tr>");
            }
            else
            {*/
                count++;
                row=$("<tr><td>"+count+"</td>\n\
                \n\
                <td class='td-email'>"+details[i].name+"</td>\n\
                \n\
                <td class='td-email'>"+under+"</td>\n\
                \n\
                <td><input type='image' id='icon-edit' src='././img/edit.png' height='20px' width='20px' style='border:0px;' onclick='editStockGroup(this,"+details[i].stk_groupid+")' alt='Edit' title='Edit Row'></td>\n\
                \n\
                <td><input type='image' id='icon-delete' src='././img/cross.png' onclick='deleteStockGroup(this,"+details[i].stk_groupid+")' height='20px' width='20px' style='border:0px;' alt='Delete' title='Delete Row'></td>\n\
                \n\
                </tr>");
            

            
            $("#stockgrouplist").append(row);

          }
		console.log('CROSSING FOR LOOP');
        dtable = $("#stockgrouplist").DataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true,
        });
        console.log('END OF FUNCTION');
    }
    
    function editStockGroup(thisobj,stk_groupid)
    {
        window.editGroupID = stk_groupid;
        window.editRowObject = thisobj;
        openEditGroupDialog();
    }
    function deleteStockGroup(thisobj,stk_groupid)
    {
        window.deleteRowObject = thisobj;
        makeModalConfirm("deleteStockGroupConfirm", "Confirm Delete", "Are you sure you want to delete the group ?", "deleteConfirm("+stk_groupid+")");
        $('#deleteStockGroupConfirm').modal();
    }
    
    function deleteConfirm(stk_groupid)
    {
        socket.emit("delete_stockgroup",{"stk_groupid":stk_groupid,"companyid":readCookie('accdrive_selectedcompany')});
        $('#deleteStockGroupConfirm').modal('hide');
    }
    function deletestockgroupcallback(data)
    {
        console.log('inside delete grp call back');
        
        if (data.status === 'success')
        {
            // Delete the row in datatable
            dtable
                .row( $(window.deleteRowObject).parents('tr') )
                .remove()
                .draw();
            makeModalAlert("deletestockGroupSuccess", "Stock Group Deleted !!!", "Stock Group deleted successfully");
            $('#deleteStockGroupSuccess').modal();
        }
        else
        {
            makeModalAlert("deleteGroupError", "Error Deleting Group !!!", "There was some problem deleting the group. Please contact your vendor");
            $('#deleteStockGroupError').modal();
        }
    }
    console.log('END OF SCRIPT');
</script>
    
