<!--
Author      : Yamini Sudha
Created on  : 17-March-2014
Modified on : 9-May-2014
Page Title  : Company Creation
Description : Creates a company (Displayed inside Modal)
Validation  : Done
Page Status : error in Database connection 
-->
    
<div id="createCompany" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog" style="width: 80%; max-height: 80%"> 
        <div class="modal-content" style="padding-left:3%;"> 
           <!--Modal header-->
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" style="font-size: 2.5rem">×</button>
               <label class="modal-title" id="mtitle" style="font-weight: bold;font-size: 2rem">Company Creation</label>
           </div>

            <!--Modal body-->
            <div class="modal-body" align="left" id="mbody" style="margin-left:1%;margin-right:3%;max-height: 60%;min-height: 1px;overflow: auto">
                
  		<form id="addcompany">
		
		
                    <div class="span12">
                        <label style="font-weight: bold">Company Details</label>
                    </div>
                    
                    <div class="span12">   
                        <div class="span4">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtname" name="txtname" type="text" placeholder="Company Name" required>
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtalias" name="txtalias" type="text" placeholder="Alias">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>  
                            
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" id="datepicker" data-format="dd-mm-yyyy">
                                <input type="text" id="txtfinancialyear" name="txtfinancialyear" placeholder="Financial Year From">
                                <button type="button" class="btn-date"></button>
                            </div>
                        </div>
                    </div>
                        
                    <div class="span12">
                        <label style="font-weight: bold">Mailing & Contact Details</label>
                    </div>    
                        
                    <div class="span12">
                        <div class="input-control text" data-role="input-control">
                            <input id="txtaddress" name="txtaddress" type="text" placeholder="Street">
                            <button class="btn-clear" tabindex="-1"></button>
                        </div>
                    </div>
                    
                    <div class="span12">
                        <div class="span4">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcity" name="txtcity" type="text" placeholder="City">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtpincode" name="txtpincode" type="text" placeholder="Pincode">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txttelephone" name="txttelephone" type="text" placeholder="Telephone">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>
                        
                        
                    <div class="span12">
                        <div class="span3">
                            <div class="input-control select">
                                <select id="cmbstate" name="cmbstate" >
                                    <option value="">Select State</option>
                                    <option selected>Tamil Nadu</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="span3" style="margin-left:2%">
                            <div class="input-control select">
                                <select id="cmbcountry" name="cmbcountry" >
                                    <option value="">Select Country</option>
                                    <option selected>India</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtemail" name="txtemail" type="text" placeholder="E-mail">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>    
                        
                    <div class="span12">
                        <label style="font-weight: bold">Currency Information</label>
                    </div>  
                    
                    <div class="span12">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcurrency" name="txtcurrency" type="text" placeholder="Formal Name" value="Rupees">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>

                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcurrencysymbol" name="txtcurrencysymbol" type="text" placeholder="Currency Symbol" value="Rs.">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>
                      
                    <div class="span12">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtdecplaces" name="txtdecplaces" type="number" placeholder="No. of Decimal Places" value="2">

                            </div>
                        </div>

                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtdecsymbol" name="txtdecsymbol" type="text" placeholder="Symbol for Decimal Portion" value="paise">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>        
                            
                    <div class="span12">
                        <label class="span3" style="margin-top: 1.5rem">Show in Millions : </label>

                        <div class="span9">
                            <div class="input-control radio margin10">
                                <label>
                                    <input name="rdshowinmillions" type="radio" value="yes"/>
                                    <span class="check"></span>
                                    Yes
                                </label>
                            </div>
                            <div class="input-control radio margin10 ">
                                <label>
                                    <input name="rdshowinmillions" type="radio" value="no" checked />
                                    <span class="check"></span>
                                    No
                                </label>
                            </div>
                        </div>
                    </div>       
                           	
		</form>
            </div> 

            <!--Modal footer-->
           <div class="modal-footer" id="mfooter"> 
               <button type="button" class="primary" id="btncreate" onclick="formSubmit();">Save</button>
                <button type="button" class="info" data-dismiss="modal" id="btncancel">Cancel</button> 

           </div> 
       </div> 
   </div>

</div>

<!-- Javascript placed at the end of the file to make the  page load faster -->
<script type="text/javascript">
	
  //$('#createCompany').modal();
  //        $('#datepicker').datepicker();//Datepicker
    //check if user has unused company license
    
    $( document ).ready(function() {
        console.log('inside doc ready');
        socket.emit("userhasunusedcompanylicense",{});
    });
    
    function hasunusedcompanylicensecallback(data) 
    {
        console.log(data);
        if(data.status === "success")
        {
            if (data.msg.availability === true)
            {
                $('#createCompany').modal();
                $('#datepicker').datepicker();//Datepicker
            }
            else
            {
                makeModalAlert("noLicenseError", "Cannot Create Company", "Your don't have license to create a new Company. Please contact your vendor");
                $('#noLicenseError').modal();
            }
        }
        else
        {
            makeModalAlert("licenseError", "Operation Failed !!!", data.error +"Something went wrong. Please report this to your vendor");
            $('#licenseError').modal();
        }
    }
  

//Form Validation
function formSubmit()
{
	$("#addcompany").validate({
                rules:{
                        txtname:{
                        required: true,
                        minlength: 3
                        },
                        txtpincode:{
                                required: true,
                                number: true
                        },
                        txttelephone:{
                                required: true,
                                number: true
                        },
                        txtemail:"email",
                        txtaddress:"required",
                        txtcurrencysymbol:"required",
                        txtcurrency:"required",
                        txtdecplaces:"required",
                        txtdecsymbol:"required",
                        txtdecimalplacesforprint:"required",
                }

        });


        if ( $("#addcompany").valid())
        {
			
            var companyname = $("#txtname").val();
            var alias = $("#txtalias").val();
            var financialyearfrom = $("#txtfinancialyear").val();
            var street = $("#txtaddress").val();
            var city = $("#txtcity").val();
            var pincode = $("#txtpincode").val();
            var telephone = $("#txttelephone").val();
            var state = $("#cmbstate").val();
            var country = $("#cmbcountry").val();
            var email = $("#txtemail").val();
            var currencyname = $("#txtcurrency").val();
            var currencysymbol = $("#txtcurrencysymbol").val();
            var decimalplaces = $("#txtdecplaces").val();
            var symbolfordecimal = $("#txtdecsymbol").val();
            var showinmillions = $("input:radio[name='rdshowinmillions']:checked").val();

            socket.emit('addcompany', {"companyname":companyname,"alias":alias,"financialyearstartfrom":financialyearfrom,"street":street,"city":city,"pincode":pincode,"telephone":telephone,"state":state,"country":country,"email":email,"currencyname":currencyname,"currencysymbol":currencysymbol,"decimalplaces":decimalplaces,"symbolfordecimal":symbolfordecimal,"showinmillions":showinmillions});
  
        }
}

function addcompanycallback(data)
{
    if(data.status === "success")
    {
        $('#createCompany').modal('hide');
        makeModalAlert("companyCreateSuccess", "Company Created", "Company created Successfully");
        $('#companyCreateSuccess').modal();
    }
    else
    {
        $('#createCompany').modal('hide');
        makeModalAlert("companyCreateFailure", "Error Creating Company", "There was some problem creating the company. Please contact your vendor");
        $('#companyCreatefailure').modal();
    }
}
/*
function formtoJSON()
{
	var msg=JSON.stringify({
		'companyname':$("#txtname").val(),
		'alias':$("#txtalias").val(),
		'financialyearfrom':$("#txtfinancialyear").val(),
		'street':$("#txtaddress").val(),
		'city':$("#txtcity").val(),
		'pincode':$("#txtpincode").val(),
		'telephone':$("#txttelephone").val(),
		'state':$("#cmbstate").val(),
		'country':$("#cmbcountry").val(),
		'email':$("#txtemail").val(),
		'currencyname':$("#txtcurrency").val(),
		'currencysymbol':$("#txtcurrencysymbol").val(),
		'decimalplaces':$("#txtdecplaces").val(),
		'symbolfordecimal':$("#txtdecsymbol").val(),
		'showinmillions':$("input:radio[name='rdshowinmillions']:checked").val()
		});
	 return msg;	
}
*/
</script>

