<!--
Author      : Yamini Sudha
Created on  : 19-March-2014
Modified on : 9-May-2014
Page Title  : Company Edit
Description : edit a company (Displayed inside Modal)
Validation  : Done
Page Status : Database connection completed. Not yet checked.
-->
    
<div id="editCompany" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog" style="width: 80%; max-height: 80%"> 
        <div class="modal-content" style="padding-left:3%;"> 
           <!--Modal header-->
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" style="font-size: 2.5rem">×</button>
               <label class="modal-title" id="mtitle" style="font-weight: bold;font-size: 2rem">Edit Company</label>
           </div>

            <!--Modal body-->
            <div class="modal-body" align="left" id="mbody" style="margin-left:1%;margin-right:3%;max-height: 60%;min-height: 1px;overflow: auto">
                
  		<form id="editCompanyForm">
		
		
                    <div class="span12">
                        <label style="font-weight: bold">Company Details</label>
                    </div>
                    
                    <div class="span12">   
                        <div class="span4">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtname" name="txtname" type="text" placeholder="Company Name" required>
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtalias" name="txtalias" type="text" placeholder="Alias">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>  
                            
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" id="datepicker" data-format="dd-mm-yyyy">
                                <input type="text" id="txtfinancialyear" name="txtfinancialyear" placeholder="Financial Year From">
                                <button type="button" class="btn-date"></button>
                            </div>
                        </div>
                    </div>
                        
                    <div class="span12">
                        <label style="font-weight: bold">Mailing & Contact Details</label>
                    </div>    
                        
                    <div class="span12">
                        <div class="input-control text" data-role="input-control">
                            <input id="txtaddress" name="txtaddress" type="text" placeholder="Street">
                            <button class="btn-clear" tabindex="-1"></button>
                        </div>
                    </div>
                    
                    <div class="span12">
                        <div class="span4">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcity" name="txtcity" type="text" placeholder="City">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtpincode" name="txtpincode" type="text" placeholder="Pincode">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                        
                        
                        <div class="span4" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txttelephone" name="txttelephone" type="text" placeholder="Telephone">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>
                        
                        
                    <div class="span12">
                        <div class="span3">
                            <div class="input-control select">
                                <select id="cmbstate" name="cmbstate" >
                                    <option value="">Select State</option>
                                    <option>Tamil Nadu</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="span3" style="margin-left:2%">
                            <div class="input-control select">
                                <select id="cmbcountry" name="cmbcountry" >
                                    <option value="">Select Country</option>
                                    <option>India</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtemail" name="txtemail" type="text" placeholder="E-mail">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>    
                        
                    <div class="span12">
                        <label style="font-weight: bold">Currency Information</label>
                    </div>  
                    
                    <div class="span12">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcurrency" name="txtcurrency" type="text" placeholder="Formal Name">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>

                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtcurrencysymbol" name="txtcurrencysymbol" type="text" placeholder="Currency Symbol">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>
                      
                    <div class="span12">
                        <div class="span6">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtdecplaces" name="txtdecplaces" type="number" placeholder="No. of Decimal Places">

                            </div>
                        </div>

                        <div class="span6" style="margin-left:2%">
                            <div class="input-control text" data-role="input-control">
                                <input id="txtdecsymbol" name="txtdecsymbol" type="text" placeholder="Symbol for Decimal Portion">
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                        </div>
                    </div>        
                            
                    <div class="span12">
                        <label class="span3" style="margin-top: 1.5rem">Show in Millions : </label>

                        <div class="span9">
                            <div class="input-control radio margin10">
                                <label>
                                    <input name="rdshowinmillions" type="radio" value="yes"/>
                                    <span class="check"></span>
                                    Yes
                                </label>
                            </div>
                            <div class="input-control radio margin10 ">
                                <label>
                                    <input name="rdshowinmillions" type="radio" value="no" checked />
                                    <span class="check"></span>
                                    No
                                </label>
                            </div>
                        </div>
                    </div>       
                           	
		</form>
            </div> 

            <!--Modal footer-->
           <div class="modal-footer" id="mfooter"> 
               <button type="button" class="primary" id="btncreate" onclick="formSubmit();">Save</button>
                <button type="button" class="info" data-dismiss="modal" id="btncancel">Cancel</button> 

           </div> 
       </div> 
   </div>

</div>

<!-- Javascript placed at the end of the file to make the  page load faster -->

<script type="text/javascript">
 $( document ).ready(function() {
     
    if (readCookie('accdrive_selectedcompany') === 'null')
    {
        makeModalAlert("companyNotSelectedError", "Select a Company First !!!", "Please select a company before trying to Edit");
        $('#companyNotSelectedError').modal();
    }
    else
    {
        $('#editCompany').modal();
        $('#datepicker').datepicker();//Datepicker
        console.log('cookie val ;'+readCookie('accdrive_selectedcompany'));
        socket.emit("getcompanydetails",{"companyid":readCookie('accdrive_selectedcompany')});
        
    }
    
 });
function companydetailscallback(data) 
{   
    if(data.status === 'success')
    {
        var details = data.msg[0];

        //set values
        $("#txtname").val(details.companyname);
        $("#txtalias").val(details.alias);
        $("#txtfinancialyear").val(details.financialyearfrom);
        $("#txtaddress").val(details.street);
        $("#txtcity").val(details.city);
        $("#txtpincode").val(details.pincode);
        $("#txttelephone").val(details.telephone);
        $("#cmbstate").val(details.state);
        $("#cmbcountry").val(details.country);
        $("#txtemail").val(details.email);
        $("#txtcurrency").val(details.currencyname);
        $("#txtcurrencysymbol").val(details.currencysymbol);
        $("#txtdecplaces").val(details.decimalplaces);
        $("#txtdecsymbol").val(details.symbolfordecimal);
        if (details.showinmillions === 1)
        {
            $("input:radio[name='rdshowinmillions']").val(['yes']);
        }
        else
        {
            $("input:radio[name='rdshowinmillions']").val(['no']);
        }
    }
    else
    {
        makeModalAlert("getcompanydetailsError", "Operation Failed !!!", data.error +"Something went wrong. Please report this to your vendor");
        $('#getcompanydetailsError').modal();
    }
    

}
//Form Validation
function formSubmit()
{
	$("#editCompanyForm").validate({
                rules:{
                        txtname:{
                        required: true,
                        minlength: 3
                        },
                        txtpincode:{
                                required: true,
                                number: true
                        },
                        txttelephone:{
                                required: true,
                                number: true
                        },
                        txtemail:"email",
                        txtaddress:"required",
                        txtcurrencysymbol:"required",
                        txtcurrency:"required",
                        txtdecplaces:"required",
                        txtdecsymbol:"required",
                        txtdecimalplacesforprint:"required",
                }

        });


        if ( $("#editCompanyForm").valid())
        {
                //Check if company already exists before adding

                //Convert the values into JSON array
                var formValueString = formtoJSON();
                console.log(formValueString);
                
                socket.emit('updatecompanydetails', { "msg": formValueString });
                
        }
}
function updatecompanydetailscallback(data)
{
    console.log(data);
    if(data.status === "success")
    {
        $('#editCompany').modal('hide');
        makeModalAlert("companyUpdateSuccess", "Company Updated", "Company Updated Successfully");
        $('#companyUpdateSuccess').modal();
    }
    else
    {
        $('#editCompany').modal('hide');
        makeModalAlert("companyUpdateFailure", "Error Updating Company", "There was some problem updating the company. Please contact your vendor");
        $('#companyUpdatefailure').modal();
    }
}
function formtoJSON()
{
	var msg=JSON.stringify({
		'companyname':$("#txtname").val(),
                'alias':$("#txtalias").val(),
                'financialyearfrom':$("#txtfinancialyear").val(),
		'street':$("#txtaddress").val(),
                'city':$("#txtcity").val(),
                'pincode':$("#txtpincode").val(),
		'telephone':$("#txttelephone").val(),
                'state':$("#cmbstate").val(),
		'country':$("#cmbcountry").val(),
		'email':$("#txtemail").val(),
                'currencyname':$("#txtcurrency").val(),
		'currencysymbol':$("#txtcurrencysymbol").val(),
		'decimalplaces':$("#txtdecplaces").val(),
		'symbolfordecimal':$("#txtdecsymbol").val(),
		'showinmillions':$("input:radio[name='rdshowinmillions']:checked").val()
	        });
	 return msg;	
}

</script>

