<!--
Author      : Yamini Sudha
Created on  : 19-March-2014
Page Title  : Company Select
Description : The companies created by the user and
              the companies which are assigned to the user
              are displayed in a select box. (Displayed inside Modal)
Validation  : Done
Page Status : Complete
-->
    
<div id="selectCompany" class="modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog" style="width: 60%; max-height: 80%"> 
        <div class="modal-content" style="padding-left:3%;"> 
           <!--Modal header-->
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" style="font-size: 2.5rem">×</button>
               <label class="modal-title" id="mtitle" style="font-weight: bold;font-size: 2rem">Select Company</label>
           </div>

            <!--Modal body-->
            <div class="modal-body" align="left" id="mbody" style="margin-left:1%;margin-right:3%;max-height: 60%;min-height: 1px;overflow: auto">
                
  		<form id="selectCompanyForm">
                    <div class="span12">
                        <div class="input-control select">
                            <select id="cmbcompany" name="cmbcompany" >
                                <option value="">Select Company</option>
                            </select>
                        </div>
                    </div>  	
		</form>
            </div> 

            <!--Modal footer-->
           <div class="modal-footer" id="mfooter">
               <button type="button" class="primary" id="btncreate" onclick="formSubmit();">Save</button>
                <button type="button" class="info" data-dismiss="modal" id="btncancel">Cancel</button> 

           </div> 
       </div> 
   </div>

</div>

<!-- Javascript placed at the end of the file to make the  page load faster -->

<script type="text/javascript">
$('#selectCompany').modal();

socket.emit('getassociatedcompanylist', {});

function associatedcompanylistcallback(data)
{
    if(data.status === 'success')
    {
        $.each(data.msg.associatedcompanylist, function(index, item) { // Iterates through a collection
            $("#cmbcompany").append($("<option></option>").text(item.name).val(item.companyid));
        });
    }
    else
    {
        makeModalAlert("companylistError", "Operation Failed !!!", data.error +"Something went wrong. Please report this to your vendor");
        $('#companylistError').modal();
    }
}

//Form Validation
function formSubmit()
{
	$("#selectCompanyForm").validate({
                rules:{
                        cmbcompany:{
                        required: true
                        }
                }

        });


        if ($("#selectCompanyForm").valid())
        {
            $("#selectedCompany").html($("#cmbcompany option:selected").text());
            createCookie("accdrive_selectedcompany",$("#cmbcompany option:selected").val(),"");
            createCookie("accdrive_selectedcompanyname",$("#cmbcompany option:selected").text(),"");
            
            $('#selectCompany').modal('hide');
        }
}

</script>
