<!--
Author      : Yamini Sudha
Created on  : 17-March-2014
Page Title  : Group Dashboard
Description :       
-->
<style>
    .subheader{
        padding-right:20px; 
        padding-left: 20px; 
        padding-top: 10px; 
        height: 80px; 
        background-color: #F2F7F8;
    }
</style>

<div style="height:100%">
    <div class="subheader">
        <div class="place-left"><h3>Group</h3></div>
        <div class="place-right" style=" padding-top: 15px;">
            <button type="button" id="btncreatenew" onclick="openCreateGroupDialog()" class="primary">Create New</button>
        </div>
    </div>
    <div class="example" style="margin:3%;">
        <table id="grouplist" class="table hovered">
            <thead>
                <tr>
                    <th class="text-left">S.No</th>
                    <th class="text-left">Group Name</th>
                    <th class="text-left">Under</th>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $( document ).ready(function() {
        socket.emit('getall_group',{"companyid":readCookie('accdrive_selectedcompany')});
    });
    
    function getallgroupscallback(data)
    {
        var details=data.msg;            
        var count=0;
        var row;
        for(var i=0;i<details.length;i++)
        {

            
            var under = details[i].undergroupname;
            if (under === null)
                under = 'Primary';
            console.log('predefined : '+details[i].predefined);
            if(details[i].predefined === 1)
            {
                count++;
                row=$("<tr><td>"+count+"</td>\n\
                \n\
                <td class='td-email'>"+details[i].name+"</td>\n\
                \n\
                <td class='td-email'>"+under+"</td>\n\
                \n\
                <td>-</td>\n\
                \n\
                <td>-</td>\n\
                \n\
                </tr>");
            }
            else
            {
                count++;
                row=$("<tr><td>"+count+"</td>\n\
                \n\
                <td class='td-email'>"+details[i].name+"</td>\n\
                \n\
                <td class='td-email'>"+under+"</td>\n\
                \n\
                <td><input type='image' id='icon-edit' src='././img/edit.png' height='20px' width='20px' style='border:0px;' onclick='editGroup(this,"+details[i].groupid+")' alt='Edit' title='Edit Row'></td>\n\
                \n\
                <td><input type='image' id='icon-delete' src='././img/cross.png' onclick='deleteGroup(this,"+details[i].groupid+")' height='20px' width='20px' style='border:0px;' alt='Delete' title='Delete Row'></td>\n\
                \n\
                </tr>");
            }

            
            $("#grouplist").append(row);

          }

        dtable = $("#grouplist").DataTable({
              "scrollY":        "250px",
              "scrollCollapse": true,
              "paging":         true,
        });
        
    }
    
    function editGroup(thisobj,groupid)
    {
        window.editMastersID = groupid;
        window.editRowObject = thisobj;
        openEditGroupDialog();
    }
    function deleteGroup(thisobj,groupid)
    {
        window.deleteRowObject = thisobj;
        makeModalConfirm("deleteGroupConfirm", "Confirm Delete", "Are you sure you want to delete the group ?", "deleteGroupConfirm("+groupid+")");
        $('#deleteGroupConfirm').modal();
    }
    
    function deleteGroupConfirm(groupid)
    {
        socket.emit("delete_group",{"groupid":groupid,"companyid":readCookie('accdrive_selectedcompany')});
        $('#deleteGroupConfirm').modal('hide');
    }
    function deletegroupcallback(data)
    {
        console.log('inside delete grp call back');
        
        if (data.status === 'success')
        {
            // Delete row from datatable
            dtable
                .row( $(window.deleteRowObject).parents('tr') )
                .remove()
                .draw();
            makeModalAlert("deleteGroupSuccess", "Group Deleted !!!", "Group deleted successfully");
            $('#deleteGroupSuccess').modal();
        }
        else
        {
            makeModalAlert("deleteGroupError", "Error Deleting Group !!!", "There was some problem deleting the group. Please contact your vendor");
            $('#deleteGroupError').modal();
        }
    }
</script>
    
